/* General settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* End of general settings */

/* Begin header */
header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  top: 0px;
  border-top: 10px solid black;
}
@media (max-width: 768px) {
  header {
    height: 300px;
  }
}
header .header__icons {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #faa916;
}
header .header__icons .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 150px;
}
@media (max-width: 768px) {
  header .header__icons .icons {
    justify-content: space-evenly;
  }
}
header .header__icons .icons a span img {
  margin-top: 5px;
  width: 30px;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  nav {
    display: block;
  }
}
nav .navbar__logo {
  margin-left: 50px;
}
nav .navbar__logo img {
  width: 130px;
}
nav .navbar__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
@media (max-width: 768px) {
  nav .navbar__links {
    margin-left: 50px;
  }
}
nav .navbar__links ul {
  display: flex;
  flex-wrap: wrap;
}
nav .navbar__links li {
  list-style: none;
  font-size: 2rem;
  padding-right: 100px;
}
@media (max-width: 768px) {
  nav .navbar__links li {
    padding-bottom: 30px;
  }
}
nav .navbar__links li a {
  color: #faa916;
  border-bottom: 2px solid #faa916;
  text-decoration: none;
  letter-spacing: 2px;
}
/* End of header section */

/* Start of main section */
main {
  width: 100%;
  margin-top: 170px;
  height: auto;
}
@media (max-width: 768px) {
  main {
    margin-top: 300px;
  }
}
.hero-page {
  display: table;
  width: 100%;
  height: 400px;
  background: #ececec;
}
.hero {
  float: left;
  width: 70%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media (max-width: 768px) {
  .hero {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
.hero__main {
  grid-column: 1;
  margin-left: 80px;
  margin-top: 20px;
}
.hero__main h3 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-left: 30px;
}
.hero__main--img {
  grid-column: 1;
}
.hero__main--img img {
  width: 70%;
  margin-left: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 10px black;
}
.hero__main--info {
  grid-column: 2;
}
@media (max-width: 768px) {
  .hero__main--info {
    grid-column: 1;
  }
}
.hero__main--info {
  margin-top: 50px;
  margin-right: 20px;
  padding: 20px;
}
.hero__main--info h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-shadow: 0 1px 5px black;
}
.hero__main--info p {
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 20px;
}
.news__button {
  border: 1px solid black;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  background: #c6c6c6;
}
.hero__main--info a:hover {
  background: linear-gradient(300deg, #bd8a92, black);
  border-radius: 50px;
  box-shadow: 0 0 5px black;
  color: white;
}
.news__posts h3 {
  /* border-bottom: 1px solid #cdd2da; */
  text-align: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  padding-bottom: 20px;
}
.news__posts hr {
  margin: 0px 70px;
  border-top: 1px black;
}
.news__posts--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  margin: 40px;
}
@media (max-width: 768px) {
  .news__posts--container {
    grid-template-columns: 1fr;
  }
}
.news__posts--article {
  margin: 50px;
  padding: 20px 5px 10px 25px;
  background: #ececec;
  box-shadow: 0 5px 20px black;
}
.news__posts--article img {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.news__posts--article h4 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 20px;
}
.news__posts--article p {
  font-size: 1.6rem;
  font-family:  Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  padding-right: 20px;
  text-align: justify;
  line-height: 20px;
}
.news__posts--article a {
  text-decoration: none;
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
aside {
  float: right;
  width: 20%;
  height: 350px;
  background: #b65b69;
  border-left: 5px solid white;
  box-shadow: 0 5px 20px black;
  background: linear-gradient(300deg, #bd8a92, rgb(80, 73, 73));
  margin-right: 2%;
  margin-top: 20px;
}
@media (max-width: 768px) {
  aside {
    width: auto;
    float: left;
    margin-bottom: 30px;
  }
}
aside .input {
  background-color: rgb(255, 255, 255, 0.5);
  margin-top: 10px;
  border: 3px solid white;
  border-radius: 25px;
  margin-left: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  padding: 10px;
}
.sidebar__options {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}
.sidebar__options a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-shadow: 0 1px 5px black;
}
.sidebar__options a:hover {
  background: linear-gradient(300deg, #bd8a92, black);
  border-radius: 50px;
  box-shadow: 0 0 5px black;
}
/* End of main section */

/* Begin of footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #faa916;
  height: 150px;
  width: 100%;
  border-top: 5px solid white;
  border-bottom: 10px solid black;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  footer {
    height: 400px;
  }
}
footer .footer__icons {
  display: flex;
}
footer .footer__icons a span img {
  width: 40px;
  margin-top: 20px;
  margin-left: 30px;
}
footer .footer__privacy {
  margin-right: 30px;
  margin-top: 50px;
  font-size: 2.5rem;
}
footer .footer__privacy a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  letter-spacing: 2px;
}
footer .footer__logo a img {
  width: 140px;
}
footer .footer__contact {
  margin-top: 30px;
  font-size: 2rem;
  color: rgb(0, 0, 0, 0.5);
}
footer .footer__contact .footer__contact--paragraph1 {
  padding-bottom: 5px;
  font-size: 2.5rem;
  margin-left: 30px;
  letter-spacing: 2px;
}
/* End of footer */